body{
    background-color: #e2c0c0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header{
    text-align: center;
}
.avatar{
    width: 300px;
    height: 300px;
}
.header-title {
    font-size: 28px;
}
.header-subtitle {
    color: rgb(146, 128, 211);
}

main{
    border: 1px solid darkgray;
    text-align: center;
}
.skills ol{
    list-style: none;
}
.separator{
    width: 50%;
    height: 3px;
    background-color: rgb(110, 110, 148);
}
.video iframe{
    width: 800px;
    height: 490px;
}
.ed-table{
    border-collapse: collapse;
    width: 100%;
}
.ed-table th,
.ed-table td{
    border: 1px solid black;
    padding: 10px;
}
.quote{
    font-size: 32px;
}
.form{
    width: 600px;
    margin: 0 auto;
}
.form-control{
    width: 100%;
}
.control-text{
    width: 50%;
}
.form-submit {
    display: block;
    margin: 0 auto;
}
footer{
    height: 100px;
    text-align: center;
    background-color: #745e5e;
}
.contacts-link{
    text-decoration: none;
    color: black;
}


